.form {
    @import './forms/login-form',
            './forms/store-form';
}

.section {
    @import './store-face/store-face';
}

@import './modal/modal';
svg.barcode {
    display: block;
    max-width: 100%;
    height: auto;
}

small {
    @media print {
        font-size: 8px;
    }
}

.main {
    overflow: hidden;
}

#top-float-menu,
#btn-call-member-input,
#btn-hold {
    position: absolute;
    right: 24px;
    opacity: 0;
    transition: all ease-out 0.3s;
    top: 0;
    transform: translateY(-50%);
    visibility: none;
    &.is-active {
        top: 20px;
        opacity: 1;
        transform: translateY(0%);
        visibility: visible;
    }
}

#btn-hold {
    right: 72px;
}

#top-float-menu {
    right: auto;
    left: 24px;
}

#stash {
    position: absolute;
    top: 20px;
    left: 24px;
    width: calc(40% - 48px);
    .button {
        &:not(:last-child) {
            margin-right: 0.5em;
        }
        height: auto;
        .columns {
            margin-top: 0;
            margin-bottom: 0;
            .column {
                padding-top: 0;
                padding-bottom: 0;
                .fas {
                    font-size: 20px;
                    line-height: 24px;
                }
                &:first-child {
                    padding-right: 0;
                }

                &:last-child {
                    padding-left: 5px;
                }

                span {
                    line-height: 1;
                    display: block;
                    font-size: 14px;
                    &:last-child {
                        font-weight: bold;
                        letter-spacing: -1px;
                        font-size: 8px;
                    }
                }
            }
        }
    }
}

#btn-call-member-input,
#btn-hold,
#stash {
    @media print {
        display: none;
    }
}

#receipt-misc,
#store-info {
    display: none;
    font-size: 10px;
    line-height: 1.2;
    @media print {
        display: block;
        p {
            color: #000;
            font-weight: normal;
            strong {
                color: #000;
            }
        }
    }
}

#receipt-misc {
    padding-bottom: 2rem;
}

#customer-lookup-form {
    position: fixed;
    right: 24px;
    box-shadow: 0 4px 10px rgba($black, 0.4);
    border-radius: 5px;
    padding: .5rem;
    background-color: $white;
    z-index: 1;
    transition: all ease-out 0.3s;
    opacity: 0;
    top: 0;
    transform: translateY(-150%);
    visibility: hidden;
    &.is-active {
        visibility: visible;
        opacity: 1;
        top: 5rem;
        transform: translateY(0%);
    }

    .input {
        border-color: $red;
        outline: none;
        box-shadow: none;
    }

    .customer-details {
        .icon-confirmed {
            font-size: 24px;
            color: $green;
        }
    }
}

#coupon-list {
    position: absolute;
    bottom: 1.5rem;
    right: 0;
    transition: all ease-out .15s;
    transform: translateX(150%);
    opacity: 0;
    visibility: hidden;

    &.show {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }

    li {
        text-align: right;
        &:not(:last-child) {
            margin-bottom: .5rem;
        }
        .button {
            i {
                margin-left: 0.25em;
                transform: translateY(1px);
                visibility: hidden;
                &.is-visible {
                    visibility: visible;
                }
            }
        }
    }
}
