.come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
    &:nth-child(odd) {
        animation-duration: 0.6s;
    }

    &.already-visible {
        transform: translateY(0);
        animation: none;
    }
}


.bouncy {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-name: bouncy;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes come-in {
    to { transform: translateY(0); }
}

@keyframes bouncy {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-18px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-3px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}
