// // /**
// //  * @file styles.scss
// //  *
// //  * Main stylesheet.
// //  * */
// @import "https://fonts.googleapis.com/css?family=Montserrat|Tangerine:400,500,700";

@import "fonts/fa-brands",
        "fonts/fa-solid",
        "fonts/fa-regular",
        "fonts/fontawesome";

@import 'config/typography',
        'config/animations';

$family-primary: source-han-sans-simplified-c, Helvetica, Arial, sans-serif;

@import "bulma";

@import 'blocks/all';

@media print {
    .hide-in-print {
        display: none !important;
    }

    .input, .textarea, .select select {
        color: #000 !important;
    }
}

.print-only {
    display: none !important;
    @media print {
        display: block !important;
    }
}

.button {
    &.is {
        &-circle {
            border-radius: 50%;
        }
    }
}

.column {
    &.align {
        &-centered {
            align-self: center;
        }
    }
}
